#bannerheading{
	color: lightgreen;
	font - size: 50px;
	transform: translate(300%,100%);

}

#banner {
	height: 500px;
	width: 100%;
	position: relative;
}
.cards {
	width: 400px;
	height: 300px;
}
body{
	background-color: #085903;
	text-align: center;
	font-family: 'Atkinson Hyperlegible', sans-serif;
}

li{

	list-style-type: none;
}

a{

	text-decoration: none;
	color: black;

}

p{

	font-size: 150%;
	color: lightgreen;
	font-weight: bolder;
}

h2{

	font-size: 200%;
	padding: 30pxs;
}

#topBanner>h2{

	background-color: #8c5206;
	padding: 20px;
	border-radius: 25px;
	border: 3px solid black;
	top: 70%;
	left: 0%;

}

*{
	margin: 0;
	padding: 0;
}

#topBanner{
	display: flex;
}

#bannerheading,#topBanner>h2{
	position: absolute;
}

#dinosaurs{
	display: flex;
	justify-content: space-evenly;
}


#list{
	display: flex;
	justify-content: space-evenly;
}

ol{
	padding: 20px;
}

h1{
	padding: 20px;
}
